*{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html , body{
    height: 100%;
    width: 100%;
}


.grid {
    width: 90%;
    margin: 10px auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 5px;
    padding: 10px;

    &__button-container {
        display: flex;
    }

    &__header {
        grid-column: 1 / -1;
        color: #D5F033;
        width: 100%;
        padding: 5px;
    }
    
    &__calc {
        grid-column: 1;
        grid-row: 2;
    }
    
    &__payment {
        grid-column: 2;
        grid-row: 2;
    }

    div {
        display: block;
    }
    
}

span {
    display: block;
}