body {
    background: linear-gradient(90deg, rgba(114, 114, 217, 1) 0%, rgba(238, 130, 238, 1) 100%);
    padding-left: 50px;
    padding-top: 20px;
}

.options-container {
    position: relative;
    display: inline-block; 
}

.options-box {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(3, 3, 49);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 7px;
    color: white;
    font-weight: 200;
    
}

.options-text {
    margin-right: 20px;
}

.options-arrow {
    cursor: pointer;
    font-size: 17px;
}

.options-menu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    z-index: 1;
    margin-top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: opacity 0.3s ease;
}

.options-menu.active {
    opacity: 1;
    pointer-events: auto;
}

.option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.option:hover {
    background-color: blueviolet;
}


.icon {
    margin-right: 15px;
    color: purple;
    font-size: 20px;
}