* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
    background-color: rgb(22, 22, 22);
}

.page-container {
    display: flex;
    justify-content: center;
    margin-top: 5%; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center; 
    align-items: center; 
    height: 100%; 
    gap: 5px;
}

.card {
    border-radius: 3%;
    width: 100%; 
    position: relative;
    background-color: rgb(39, 39, 39);
}

.card-image {
    margin: 2% 2% 0 2%;
    width: 95%;
    height: 150px;
    object-fit: cover;
    border-radius: 2%;
}

.heading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 85%;
    color: white;
    font-size: 0.9rem;
    padding: 1%;
}

.sub-heading {
    font-size: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    width: 85%;
    padding: 1%;
    color: rgb(187, 187, 187);
}

main {
    margin-top: 5%;
}
